* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'helvetica neue';
}

html,
body {
    height: 100%;
    width: 100%;
     overflow-x: hidden;
}

@font-face {
    font-family: reckless;
    src: url(./fonts/RecklessCondensedS-TRIAL-Book.woff);
}

@font-face {
    font-family: robot;
    src: url(./fonts/RobotoMono-Regular.ttf);
}

@font-face {
    font-family: figtree;
    src: url(./fonts/figtree_n4.3c0838aba1701047e60be6a99a1b0a40ce9b8419.woff2);
}

@font-face {
    font-family: midnight;
    src: url(./fonts/midnight-sans-rd-12-medium-trial.otf);
}

main {
    width: 100%;
    height: 100%;



}

.first {
    width: 100%;
    height: 95%;
    background-image: url(./imgs/first.webp);
    background-size: cover;
    background-position: center;
    position: relative;
    background-size: cover;

    align-content: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;


    border-bottom: 1px solid #000;




}

.first .content {
    max-width: 44%;
    min-height: 90%;
    display: flex;

    flex-direction: column;
    align-items: self-start;
    justify-content: flex-end;
    box-sizing: border-box;
    gap: 1rem;
    padding: 3rem 2.5rem;
    margin-top: auto;

}

header {
    top: 2rem;
    position: sticky;
    max-width: 98%;
    max-height: 10.9vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    background-color: white;
    padding: 2vh;
    border-radius: 1rem;
    border: 1px solid black;
    flex-wrap: wrap;
    z-index: 2;

}

.left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
    height: auto;
}

.left i {
    display: none;
}

.left a {

    font-size: clamp(1.2rem, 4vw, 2rem);
    text-decoration: none;
    color: black;
    font-family: reckless;

}

header img {
    max-width: 30vw;

    height: auto;
    object-fit: cover;
    margin-left: 12rem;


}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    height: auto;
    top: 0;

}

.right a {
    font-weight: 500;
    font-size: 1vw;
    text-decoration: none;
    color: black;
    font-family: robot;
    align-self: center;

}

.right i {
    font-size: 3vw;
}

.content h1 {
    font-size: clamp(1.2rem, 4vw, 4.5rem);
    font-family: Reckless;
    color: black;
    font-weight: 400;

}

.content p {
    font-size: clamp(0.6rem, 2vw, 1rem);
    font-family: Figtree;
    font-weight: 300;
    color: black;
}

.content button {

    padding: 1rem 4.5rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree;
    border-radius: 2.5rem;
    font-size: clamp(1rem, 2vw, 1.2rem);
}

#section-2 {
    width: 100%;
    height: auto;
    padding: 8rem 1rem;
    background-color: rgb(251, 249, 235);

}

#section-2 .section2-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Reckless;
    text-align: center;
}

.section2-text h1 {
    font-size: clamp(2.2rem, 8vw, 6rem);
    font-weight: 300;
    width: 80%;


}


#section-2 .btn-1 {
    padding: 0.8rem 0.9rem;
    font-size: 3rem;
    font-family: robot;
    font-weight: 600;
    background-color: #DAAEEA;
    border-radius: 1.2rem;
    text-transform: uppercase;
    margin-top: 5rem;
    rotate: -5deg;
    letter-spacing: 2px;
    align-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 7rem;
}

#section-2 .card-container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    overflow-x: auto;

}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex-shrink: 0;
}

.card-top {
    width: 90%;
    height: 55vh;
    background-color: #C1EE91;
    position: relative;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-between;
    border-radius: 1rem;
    border: 1px solid #000;
    overflow: hidden;
}

.card-top-text {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: space-between;

}

.card-top-text button {
    padding: 0.2rem 0.5rem;
    border-radius: 0.2rem;
    border: 1px solid #000;
    background-color: #fff;
    font-family: Midnight;
    font-size: 1.2rem;
    text-transform: uppercase;
    display: block;

    font-weight: 400;
}

.card-top-text span {
    font-size: 1.2rem;
    font-family: Reckless;
}

.card-top img {
    height: 90%;
    width: 90%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    transition: all ease 0.3s;
}


.card-btm-text {
    background-color: #fff;
    padding: 0.6rem 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 0.3rem;
    font-family: Reckless;
    font-size: 1.2rem;
}

.card-top:hover img {
    scale: 1.1;
}

.card-btm {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    font-family: Reckless;
    align-items: start;
}

.card-btm h1 {
    font-family: 0.3rem;
    font-weight: 100;
}

.card-btm h3 {
    font-family: 0.3rem;
    font-weight: 100;
}

.card-btm p {
    font-weight: 100;
    opacity: 0.5;
    width: 90%;
}

.btn-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btm-btn {

    padding: 1.2rem;
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree;
    border-radius: 1.2rem;
    font-size: 1.1rem;

}

.section-3 .line {
    display: block;
    max-width: 100%;
    margin-top: 8rem;
    border: 0.1rem solid black;
}

.section-4 .btn-2 {
    transform: scaleY(1.3);
    font-size: 3rem;
    font-family: robot;
    font-weight: 800;
    background-color: #FF7F31;
    border-radius: 0.4rem;
    text-transform: uppercase;

    rotate: -2deg;

    align-self: center;
    display: block;

    margin-right: auto;
    margin-top: 10rem;
    margin-bottom: 5rem;

}

.section-4 {
    margin-left: 10rem;
}

.section-4 h1 {
    font-size: clamp(2.2rem, 5vw, 5.1rem);
    font-weight: 200;
    line-height: 1.2;
    width: 80%;
    font-family: reckless;

}

.section4-text .input {
    margin-top: 8vh;
    padding: 2rem 3rem;
    border-radius: 1rem;
    font-size: clamp(1rem, 2vw, 1.5rem);
    background-color: rgb(251, 249, 235);
}

.section4-text p {
    color: grey;
    margin-top: 8vh;
    font-family: robot;
    font-size: clamp(0.8rem, 3vh, 1.8rem);
}

.chips {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 24px;


}

.chips a {
    padding: 1rem 1.8rem;
    background: white;
    border: 1px solid black;
    border-radius: 0.8rem;
    text-decoration: none;
    color: black;
    background-color: #DAEAFF;
    font-size: clamp(1.2rem, 3vw, 2rem);
}

.section-5 {
    background-image: url(./imgs/background2.webp);
    background-size: cover;
    width: 100%;
    height: 300%;
    background-size: fill;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;


}

.section-5 .btn-3 {
    transform: scaleY(1.5);
    font-size: clamp(3rem, 5vh, 3rem);
    height: auto;
    font-family: midnight;
    font-weight: 900;
    background-color: rgb(162, 201, 252);
    border-radius: 0.4rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    rotate: -2deg;
    padding: 0.3rem 0.5rem;
    align-self: center;
    display: block;


    margin-top: 17rem;
    margin-bottom: 5rem;
}

.section-5 h1 {
    color: white;
    font-size: clamp(7rem, 15vw, 10rem);
    text-transform: uppercase;
    font-family: midnight;
    /* width: 100%; */
    font-weight: 800;
    text-align: center;
    display: block;
    margin: auto;






}

.section-5 p {
    color: white;
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin: auto;
    text-align: center;
}

.section-5 .btm-btn {

    padding: 1.2rem 4.5rem;
    border: none;
    background-color: white;
    color: black;
    font-family: Figtree;
    border-radius: 2rem;
    font-size: 1.8rem;
    margin: auto;


}

.section-5 .three-img {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo img {
    max-width: 7vw;
    align-content: center;
}

.logo p {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    text-align: center;
    width: 80%;
    font-family: robot;
}

.section-6 {
    display: flex;
    width: 100%;
    height: 85vh;
    /* flex-wrap: wrap; */
}

.section-6 .left2 {
    width: 50%;
    overflow: hidden;
}

.section-6 .left2  img {
    width: 100%;
    height: 100%;

}

.section-6 .right2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    padding: 4rem;
    background-color: #2A2857;
    justify-content: space-between;
}

.section-6 .right2 h1 {
    font-size: clamp(3rem, 6vw, 6rem);
    color: white;
    font-weight: 200;
    font-family: reckless;
    width: 70%;
}

.section-6 .right2 p {
    font-size: clamp(0.9rem, 2vw, 1.5rem);
    color: white;

}
.btn-btn {

    
    border: none;
    background-color: #2A2857;
    color: white;
    font-family: Figtree;
    border-radius: 1.2rem;
    
    background-color: white;
     color: black;
      padding: 1rem 3rem ;
      font-size: 2rem;

}

@media (max-width:1000px) {
    .first {
        background-position: center;
        padding: 0.6rem;
        display: flex;
        flex-direction: column;
    }

    .left a,
    .right a {
        display: none;
    }

    .left i,
    .right i {
        display: block;
        font-size: 1.8rem;
        margin-top: 0.7rem;

    }

    header {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding: 0.5rem 0.2rem;
        width: 95%;
        margin-top: 0;




    }

    header img {
        margin: 0;
    }

    .first .content {

        max-width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2rem 1rem;
        flex-wrap: wrap;
        flex-shrink: 0;
        align-items: center;

        height: 100%;
        margin-top: -5rem;


    }

    .first .content button {
        width: 100%;
    }

    .first {
        background-image: url(./imgs/background.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-position: center;
        height: 95%;
        width: 100%;

    }

    .content h1 {
        font-size: clamp(1.2rem, 5vw, 4.5rem);
        font-family: Reckless;
        color: black;
        font-weight: 400;

    }

    .content br {
        display: none;
    }

    .content p {
        font-size: clamp(1rem, 1vh, 4rem);
        font-family: Figtree;
        font-weight: 300;
        color: black;
    }

    .content button {

        padding: 1rem 5.4rem;
        border: none;
        background-color: #2A2857;
        color: white;
        font-family: Figtree;
        border-radius: 2rem;
        font-size: 1rem;
    }

    .section-4 {
        margin-left: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
    }

    .section-5 .three-img {
        width: 100%;

    }

    .logo p {
        font-size: clamp(1rem, 3vw, 1.8rem);
    }

    .logo img {
        max-width: 7vh;
    }
    .section-6{
    display: flex;
    flex-direction: column;
    
  
   
    

}
.section-6 > div {
    width: 100% !important;
}
.right2{
    width: 100%;
    height: auto;
    gap: 1.5rem;
    padding: 1rem;
    

}

 .left2  img{
    width: 100%;
    height: auto;
    
    /* object-fit: cover; */
    
    
    
}


.btn-btn{
    font-size: 1rem;
    padding: 1rem 2rem;
}




}



@media (max-width: 1400px) {
    header {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
        padding: 1rem;
        justify-content: space-between;
    }

    .left a {
        font-size: clamp(1.2rem, 4vw, 2rem);
    }




    header img {
        margin-left: -3rem;
    }

    .right {
        gap: 1rem;
    }

    .left {
        gap: 1rem;

    }

    .content {
        /* min-height: 80vh; */
        margin-top: 5rem;
        justify-content: flex-end;

    }

}